#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 {
	text-align: center;
}#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li > a {
			font-family: Righteous, cursive;
			font-size: 22px;
		}
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li {
			margin: 2px 1px 2px 1px;
		}
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 10px 20px 10px 20px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 10px;
			box-shadow: none;
		}
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li {
			margin: 2px 1px 2px 1px;
		}
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 10px 20px 10px 20px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 10px;
			box-shadow: inset 0px 1px 0px 1px rgba(0,0,0,0.3);
		}
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.selected,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.childselected,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.selected:hover,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.childselected:hover,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li:hover {
			margin: 2px 1px 2px 1px;
		}
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.selected > a,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.childselected > a,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.selected:hover > a,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.childselected:hover > a,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li:hover > a {
			padding: 10px 20px 10px 20px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 10px;
			box-shadow: inset 0px 1px 0px 1px rgba(0,0,0,0.3);
		}
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li.selected,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li.childselected,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li.selected:hover,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li.childselected:hover,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li:hover {
			margin: 2px 1px 2px 1px;
		}
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li.selected > a,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li.childselected > a,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li.selected:hover > a,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li.childselected:hover > a,
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul li:hover > a {
			padding: 10px 20px 10px 20px;
		}

		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 > li.normal > a { color: #793436;}
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 > li.normal > a { background-color: transparent; } #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 > li.normal > a { background-image: none; }
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.selected > a, #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.childselected > a { color: #000000; }
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.selected > a, #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.childselected > a { background-color: #ecc0c2; }
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul > li.normal > a { color: #404040; }#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul > li.normal > a { background-image: none; }
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul > li.normal > a { background-color: #ecc0c2; }
		
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.normal:hover > a { color: #000000; }
		#navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.normal:hover > a { background-color: #ecc0c2; } #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.selected > a, #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.childselected > a, #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.normal:hover > a { background-image: none; }.mobile-view #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.selected > a,
		.mobile-view #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.childselected > a { color: #000000; }.mobile-view #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.selected > a,
		.mobile-view #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li.childselected > a { background-color: transparent; }.mobile-view #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li:hover > a { color: #000000; }.mobile-view #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 li:hover > a { background-color: transparent; }.mobile-view #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul > li > a { color: #793436; }.mobile-view #navigation-fec0374c-23d3-4fe6-b176-12d3f620c954 ul > li > a { background-color: transparent; }